
<!DOCTYPE html>
<html>
  <head>
    <title>Sample App</title>
  </head>
  <body>
    <h1>Admin</h1>
    <form method="post" action="/buddyuplogin">
		User: <input type="text" name="user"><br>
		Password: <input type="password" name="password">
		<input type="submit" value="Login">
	</form>
  </body>
</html>